<!DOCTYPE html>
<html>
<head>
    <title>Live Cyber Monitor</title>
    <style>
        body { background:#0f172a; color:white; font-family:Arial; }
        h1 { text-align:center; }
        #logbox {
            background:#020617;
            padding:20px;
            height:400px;
            overflow:auto;
            border:1px solid #334155;
            margin:20px;
            font-size:13px;
        }
    </style>
</head>
<body>

<h1>🔴 Real-Time Branch Traffic Monitor</h1>

<div id="logbox"></div>

<script>
    const logbox = document.getElementById("logbox");
    const source = new EventSource("/stream");

    source.onmessage = function(event) {
        logbox.innerHTML += event.data + "<br>";
        logbox.scrollTop = logbox.scrollHeight;
    };
</script>

</body>
</html>
